{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ object_title }}s List{% endblock %}

{% block content %}

<div class="row form-horizontal">
    <div class="col-md-6 text-left">
        <h1 class="text-left">{{ object_title }}s</h1>
        <div class="form-group">
            <div class="xinput-group col-sm-4">
                <a href="{% url new_object_urlname %}" class="btn btn-primary form-control"><span class="fa fa-user-plus"></span> New {{ object_title }}</a>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 lead text-right">Filter</div>
            <div class="input-group col-sm-8">
                <div class="input-group-addon"><span class="fa fa-search"></span></div>
                <input class="form-control input-filter" name="clientfilter" value="">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 paginated_content pagination-sortfield" data-field='name' data-asc='0'>
                <img src="{% static 'img/progress_large.gif' %}">
            </div>
        </div>
    </div>

</div>
{% endblock %}
