    <nav class="navbar navbar-inverse navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand brand" href="{% url 'home' %}">&nbsp;</a>
            </div>

            <div class="collapse navbar-collapse" id="nav-collapse">
                {% if user.is_authenticated %}
                    <a href="{% url 'clients_list' %}" class="btn btn-primary navbar-btn" role="button"><span class="fa fa-folder-open"></span> Manage Clients</a>
                    <button class="btn btn-primary navbar-btn" id="oic_calc_btn" role="button" data-sourceurl="{% url 'oic_calculator' %}"><span class="fa fa-calculator"></span> OIC Calculator</button>
                {% endif %}
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><p class="navbar-text">{% if user.avatar %}<img src="{{ user.avatar.url }}" class="img img-rounded" height="28" width="28" alt="Profile Picture" />{% endif %} Logged in as <strong><a href="{% url 'view-profile' user.username %}">{{ user.get_identification }}</a></strong></p></li>
                    <li><form class="navbar-form navbar-right" role="form" method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary"><span class="fa fa-sign-out"></span> Logout</button>
                    </form></li>
                    {% endif %}
                    {% if not user.is_authenticated %}
                        <li><a href="{% url 'login' %}" class="btn btn-link"><span class="fa fa-sign-in"></span> Login</a></li>
                        {% if false %} {% comment 'New user registration disabled' %}{% endcomment %}
                        <li><a href="{% url 'register' %}" class="btn btn-link">Register</a></li>
                        {% endif %}
                        {% if false %} {% comment 'Password reset for not logged user was disabled' %}{% endcomment %}
                        <li><a href="{% url 'password_reset' %}" class="btn btn-link">Password Reset</a></li>
                        {% endif %}
                    {% endif %}
                </ul>
                {% if user.is_authenticated %}
                <ul class="nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle btn btn-primary navbar-btn" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-gears"></span> Management <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'documents_list' %}" class="xbtn xbtn-primary xnavbar-btn xnavbar-right" role="button"><span class="fa fa-book"></span> Documents</a></li>
                        <li><a href="{% url 'appointee_list' %}" class="xbtn xbtn-primary xnavbar-btn xnavbar-right" role="button"><span class="fa fa-child"></span> Appointees</a></li>
                        <li><a href="{% url 'preparer_list' %}" class="xbtn xbtn-primary xnavbar-btn xnavbar-right" role="button"><span class="fa fa-user-secret"></span> Preparers</a></li>
                        {% if user.is_admin %}
                        <li><a href="{% url 'users_list' %}" class="xbtn xbtn-primary xnavbar-btn xnavbar-right" role="button"><span class="fa fa-users"></span> Manage Users</a></li>
                        {% endif %}
                    </ul>
                </li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>
