{% extends 'irs433a/form_base.html' %}
{% load crispy_forms_tags %}

{% block form_content %}

<span class="hidden" id="taxpayer_emp_form_url"
    data-url="{% url '433a-page-2-emp' client.pk 'taxpayer' %}"
    data-subform-selector=".taxpayer_empinfo_details"></span>
<span class="hidden" id="spouse_emp_form_url"
    data-url="{% url '433a-page-2-emp' client.pk 'spouse' %}"
    data-subform-selector=".spouse_empinfo_details"></span>

<div class="row">
<div class="col-md-10 col-md-offset-1 irsform form433a form433a-page-2">
{{ form.as_table }}
</div>
</div>

{% endblock %}
